<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Auth_service</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <h1>Таблица пользователи</h1>
    <form action="" id="add_user">
        <input type="text" placeholder="Имя пользователя">
        <input type="submit" value="Добавить">
    </form>
    <div class="users">
        <script id="user_template" type="text/template">
            <span><%= name %> <%= email %></span> <button class="edit">Редактировать</button> <button class="delete">Удалить</button>
        </script>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/main.js"></script>
</body>
</html>