* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #eaeaea;
}
/*
.users {
	width: 1000px;
	height: 500px;
}

.users_table {

}

.user_name {
	width: 150px;
}

.user_email {
	width: 150px;
}
*/